{% extends "::base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
     
<div class="row span4 offset4">
  <h2>Log In</h2>
<form action="{{ path('reader_login_check') }}" method="post">
    <label for="username">Email:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}"  placeholder="Email"/>

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" placeholder="Your password" />
    <div>
    <button id='Login' type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
</div>  
{% endblock %}
