home:
    pattern:  /
    defaults: { _controller: ReaderBundle:Default:index}
reader:
    resource: "@ReaderBundle/Controller/ReaderController.php"
    type:     annotation
    prefix:   /
book:
    resource: "@ReaderBundle/Controller/BookController.php"
    type:     annotation
    prefix:   /books    
reader_login:
   pattern:   /login
   defaults:  { _controller: ReaderBundle:Security:login }
reader_login_check:
   pattern:   /login_check
logout:
    path:   /logout   

