parameters:
#    reader.example.class: BddSBP\ReaderBundle\Example

services:
#    reader.example:
#        class: %reader.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
    behat.listener:
       class: BddSBP\ReaderBundle\Listener\BehatListener
       arguments: ['@kernel']
       tags:
          - { name: kernel.event_listener, event: kernel.exception, method: onKernelException }
    twig.extension.reader:
        class: BddSBP\ReaderBundle\Twig\Extension\ReaderExtension
        arguments: ['@security.context']
        tags:
            - { name: twig.extension }