parameters:
    behat.listener.class: BddSBP\ReaderBundle\Listener\BehatListener
    reader.extension.class: BddSBP\ReaderBundle\Twig\Extension\ReaderExtension
    reader.security.login_handler.class: BddSBP\ReaderBundle\Authentication\Handler\ReaderLoginSuccessHandler
    authentication.entry_point.class: BddSBP\ReaderBundle\Authentication\EntryPoint\AuthenticationEntryPoint
services:
#    reader.example:
#        class: %reader.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
    behat.listener:
       class: %behat.listener.class%
       arguments: ['@kernel']
       tags:
          - { name: kernel.event_listener, event: kernel.exception, method: onKernelException }
    twig.extension.reader:
        class: %reader.extension.class%
        arguments: ['@security.context','@router']
        tags:
            - { name: twig.extension }
    reader.security.login_handler:
       class:  %reader.security.login_handler.class%
       arguments: ['@security.context','@session','@router']
    authentication.entry_point:
       class: %authentication.entry_point.class%
       arguments: ['@router']