{# empty Twig template #}
{% extends '::base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="row span4 offset4">
    <h2>Register</h2>
{{ form_start(form, {'action': path('reader_create'), 'method': 'POST', attr:{'novalidate':'novalidate','id':'new_reader','class':'new_reader'} } ) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
</div>    
{% endblock %}
